{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('home') }}">Accueil</a>
		</li>
        <li class="breadcrumb-item active">Créer votre nouvelle</li>
</ol>
    {{ include('annonce/_form.html.twig') }}

{% endblock %}
