<form method="post" action="{{ path('category_delete', {'id': category.id}) }}"
 onsubmit="return confirm('Vous ne pouvez pas supprimer la catégorie si cette dernière contient des nouvelles. Voulez vous continue?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-delete">Supprimer</button>
</form>
