
// customize some Bootstrap variables
$primary: #0195ff;
$back-color: #3e3f3a;
$light-color: #fffbfb;
$fluo: #95FF01;
$tiffany:#01FFEA;
$magenta:#FF0195;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
body {
    background-color: $primary;
    
}
h1 {
    font-family: 'Merienda', cursive;
    color: #ffffff;
}

/* ANNONCES */
.annonce-card{
    background-color: $light-color;
    padding: 15px;
    margin: 15px;
    border-radius: 25px;
}