
// customize some Bootstrap variables
$primary: #0195ff;
$back-color: #3e3f3a;
$light-color: #fffbfb;
$fluo: #95FF01;
$tiffany:#01FFEA;
$magenta:#FF0195;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
body {
    background-color: $light-color;
    
}
h1 {
    font-family: 'Merienda', cursive;
}


.btn-primary {
background-color: $primary;
border-radius: 25px;
color:$light-color;

}

.btn-primary:hover {
    background-color: $tiffany;
}

.btn-delete {
    background-color: $back-color;
    border-radius: 25px;
    color:$light-color;
    
    }
    
    .btn-delete:hover {
        background-color: $magenta;
    }

a:hover {
    text-decoration: none;
    color:$tiffany;
}

/* ANNONCES */
.annonce-card{
    background-color: wheat;
    padding: 16px 16px 8px 16px;
    margin: 16px;
    border-radius: 25px;
}
