
// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
$back-color: #eeaa73;
$light-color: #fffbfb;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
body {
    background-color: $back-color;
}

/* ANNONCES */
.annonce-card{
    background-color: $light-color;
    padding: 15px;
    margin: 15px;
    border-radius: 25px;
}